.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 var(--default-layout-horizontal-spacer);
    justify-content: space-between;
    width: var(--default-layout-width);
}

.logo-link {
    display: flex;
}

//Action
.actions {
    display: flex;
    align-items: center;
}

.action-btn {
    position: relative;
    background-color: transparent;
    font-size: 2.2rem;
    color: rgb(22, 24, 35);
    padding: 4px 12px;
    cursor: pointer;
}

.icon-header {
    font-size: 2rem;
}

.noti-num {
    position: absolute;
    top: 3px;
    background-color: var(--primary);
    font-size: 1.2rem;
    border-radius: 999px;
    min-width: 30px;
    right: 12px;
    color: var(--white);
    font-weight: 600;
    padding: 2px 6px;
}

.more-btn {
    font-size: 2rem;
    margin-left: 20px;
    padding: 4px 8px;
    background-color: transparent;
    cursor: pointer;
}

.user-avatar {
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}
